name: 构建并推送Caddy阿里云DNS镜像

on:
  push:
    branches: [ main, master ]

env:
  REGISTRY: registry.cn-hangzhou.aliyuncs.com
  IMAGE_NAME: zhouk/caddy-alidns

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: 检出代码
      uses: actions/checkout@v4

    - name: 设置QEMU
      uses: docker/setup-qemu-action@v3

    - name: 设置Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver: docker-container

    - name: 构建Docker镜像
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/arm64
        push: false
        tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test
        no-cache: true
        cache-from: type=gha
        cache-to: type=gha,mode=max
