name: 构建并推送Caddy阿里云DNS镜像

on:
  push:
    branches: [ main, master ]

env:
  REGISTRY: registry.cn-hangzhou.aliyuncs.com
  IMAGE_NAME: zhouk/caddy-alidns

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/arm64
        push: false
        标签: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test
        no-cache: true
